<div class="container">
  <div class="row">
  	<div class="col-xs-4">
  	  <%= render 'genres/new', genre: @genre %>
    </div>

  	  <div class="col-xs-8">
  		<h2>ジャンル登録・一覧</h2>

  		<table class="table">
  		  <tr>
  		    <th>ジャンル名</th>
  		    <th></th>
  		    <th></th>
  		  </tr>

        <% @genres.each do |genre| %>
        <tr>
  		  <td><%= genre.name %></td>
  		  <td><%=link_to "編集", edit_genre_path(genre) %></td>
  		  <td><%= link_to "削除", genre, method: :delete, data: {confirm: "ジャンルを削除しますか？"}  %></td>
  		</tr>
  		<% end %>
        </table>
  	  </div>
  </div>
</div>