<div class="container">
  <div class="row">
  	<div class="col-xs-12">
      <h2>グループ一覧</h2>
      <%= link_to "グループ作成", new_group_path %>
      <table class="table">
        <tr>
          <th>グループ名</th>
          <th></th>
          <th></th>
        </tr>

        <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= link_to "編集", edit_group_path(group.id) %></td>
          <td><%= link_to "削除", group, method: :delete, data: {confirm: "グループを削除しますか？"} %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>