<div class="container">
  <div class="row">
  	<div class="col-xs-5 col-xs-offset-5">
  	  <h2>説明</h2>
  	</div>
  	    <div class="col-xs-10 col-xs-offset-2">
  	    <h4>このサイトの使い方は、
  	    	好きなことをメモに取り、保存します。<br><br>
  	    メモしたことをジャンルごとに検索出来ます。</h4>
  	    </div>
  </div>
</div>