<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-5">
      <h2>説明</h2>
    </div>

    <div class="col-xs-8 col-xs-offset-4">
      <h4>このサイトの出来ること<br><br>
        １ メモを取る<br><br>
        ２ 題名ごとに検索<br><br>
        ３ 会員一覧から名前検索<br><br>
        ４ グループの作成<br><br>
        ５ グループでメモの共有
      </h4>
    </div>
  </div>
</div>