<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-4">
      <h2>メモを取りませんか？</h2>
    </div>
    <div class="col-xs-10 col-xs-offset-2">
        <h4 class="message">
          メモを取り、確認することは大事なことです。<br>
          このサイトは少しでもその役に立てば幸いです。
        </h4>
    </div>
  </div>
</div>