<div class="container">
  <div class="row">
  	<div class="col-xs-8 col-xs-offset-4">
  	  <h2>メモを取りませんか？</h2>
  	    <h4>メモを取り、確認することは大事なことです。<br>
  	    	このサイトは少しでもその役に立てば幸いです。</h4>
  	</div>
  </div>
</div>